<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shrewd.mapper.BookMapper">
    <resultMap id="bookResMap" type="Book">
        <id property="bId" column="bId"/>
        <result property="bName" column="bName"/>
        <result property="bState" column="bState"/>
    </resultMap>
    <select id="findBookByBId"
            parameterType="Integer"
            resultType="Book">
        SELECT * FROM library.book WHERE bId = ${bId};
    </select>
    <select id="findBookByBName"
            parameterType="String"
            resultType="Book">
        SELECT * FROM library.book WHERE bName = ${bName};
    </select>
    <select id="findBookByBState"
            parameterType="Integer"
            resultType="Book">
        SELECT * FROM library.book WHERE bState = ${bState};
    </select>
</mapper>