<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shrewd.mapper.UserMapper">
    <resultMap id="userResMap" type="User">
        <id property="uId" column="uId"/>
        <result property="uName" column="uName"/>
        <result property="uPwd" column="uPwd"/>
        <result property="uRole" column="uRole"/>
    </resultMap>
    <!--SELECT (ONE) 区域-->
    <!--查找用户-->
    <select id="findUserByUId"
            parameterType="Integer"
            resultType="User"
            resultMap="userResMap">
        SELECT * FROM library.user WHERE uId = #{uId};
    </select>
    <select id="findUserByUName"
            parameterType="String"
            resultType="User"
            resultMap="userResMap">
        SELECT * FROM library.user WHERE uName = #{uName};
    </select>
    <select id="findUserByURole"
            parameterType="Integer"
            resultType="User">
        SELECT * FROM library.user WHERE uRole = #{uRole};
    </select>
    <select id="findUserByUNameAndPassWord"
            resultMap="userResMap">
        SELECT * FROM library.user WHERE uName=#{uName} AND uPwd=#{uPwd};
    </select>

    <!--SELECT (List) 区域-->
    <!--查找所有用户-->
    <select id="findAllUser"
            resultMap="userResMap">
        SELECT * FROM library.user;
    </select>

    <!--INSERT 区域-->
    <insert id="addUser"
            parameterType="User">
        INSERT INTO library.user(uName, uPwd, uRole) VALUES (#{uName}, #{uPwd}, #{uRole});
    </insert>

    <!--DELETE 区域-->
    <!--通过用户ID和用户名和密码删除用户-->
    <delete id="deleteUserByUIdAndUNameAndPassWord"
            parameterType="User">
        DELETE FROM library.user WHERE uId=#{uId} AND uName=#{uName} AND uPwd=#{uPwd};
    </delete>

</mapper>